<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🖥Controller</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/images/Automation.png"/>
</head>

<body>
    
    
    <div style="background-color: black;">
    <div class="container">
    <header class="header">
		<h1 class="logo"> <img width="65px" src="/images/Automation.png"></h1>
      <ul class="main-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Documentation</a></li>
      </ul>
	</header>
    <div style="padding-top: 4%;">
    <div class="machinIp">
        <h3 style="float: left; padding-left: 10%;">  <img width="30px" src="/images/user2.png"> Hi <%= userN %> !</h3>
        <h3 class="machinIp_txt">🔌 Conected With <strong style="color:greenyellow;"><%= mip %></strong> Machine </h3>
    </div> 
    <div style="padding-top: 5%;">
        <div class="row_float">
            <a  href="/pages/option.html" ><button style="padding-right: 80%;" class="btn fourth bold_btn">Pull</button></a>
            <a  href="/pages/option.html" ><button style="padding-right: 80%;" class="btn fourth">Push</button></a>
            <a  href="/pages/option.html" ><button style="padding-right: 58%;" class="btn fourth">List Images</button></a>
            <a  href="/pages/option.html" ><button style="padding-right: 32%;" class="btn fourth">Remove Image By ID</button></a>
            <a  href="/pages/new.html" ><button style="padding-right: 48%;" class="btn fourth">Image History</button></a>
            <a  href="/pages/new.html" ><button style="padding-right: 48%;" class="btn fourth">Image Inspect</button></a>
        </div>
        <div class="container1">
            <h3>Console</h3>
        </div>
    </div>
    </div>
    </div>
</body>

</html>